@model IEnumerable<DeweyDecimal.Models.Book>

@{
    ViewData["Title"] = "HardMode";
}

<!-- Display countdown timer -->
<p id="countdowntimer"></p>

<!-- Container for sortable list of books -->
<div id="sortable-list" class="list-group list-group-horizontal justify-content-center">
    <!-- Loop through each book in the model -->
    @foreach (var item in Model)
    {
        <div 
            class="list-group-item border-0 bg-transparent p-0 book-item"
            data-id="@item.Id"
            data-call-number="@item.CallNumber"
            data-author="@item.Author"
        >
            <!-- Container for book image and text overlay -->
            <div class="image-container">
                <img src="~/images/book.png" />
                <div class="text-overlay">
                    <!-- Display book author and call number -->
                    <p>@item.Author</p>
                    <p>@item.CallNumber</p>
                </div>
            </div>
        </div>
    }
</div>

<!-- Section for scripts -->
@section scripts {
    <!-- JavaScript countdown timer -->
    <script>
        var complete = false;

        // Set the date we're counting down to
        var countDownDate = new Date().getTime() + 27000;

        // Update the count down every 1 second
        var x = setInterval(function () {

            // Get today's date and time
            var now = new Date().getTime();

            // Find the distance between now and the count down date
            var distance = countDownDate - now;

            // Time calculations for seconds
            var seconds = Math.floor((distance % (1000 * 60)) / 1000);

            // Display the result in the element with id="countdowntimer"
            document.getElementById("countdowntimer").innerHTML = seconds + " seconds";

            // If the count down is finished, write some text
            if (distance < 0) {
                clearInterval(x);
                document.getElementById("countdowntimer").innerHTML = "0 seconds";
                if (!complete) {
                    alert("Out of time!!!")
                    location.reload();
                }
            }
        }, 1000);

        // jQuery sortable functionality
        $(function () {
            $("#sortable-list").sortable({
                tolerance: 'pointer',
                axis: 'x',
                stop: function (event, ui) {
                    var booksArray = [];

                    // Loop through each book item
                    $('.book-item').each(function () {
                        var callNumberData = $(this).data('call-number');

                        // Replace comma with a period if present in the call number data
                        if (callNumberData.includes(',')) {
                            callNumberData = callNumberData.replace(',', '.');
                        }

                        // Create a book data object
                        var bookData = {
                            Id: parseInt($(this).data('id')),
                            Author: $(this).data('author'),
                            CallNumber: parseFloat(callNumberData)
                        };
                        booksArray.push(bookData);
                    });

                    // Convert the array to JSON
                    var jsonData = JSON.stringify(booksArray);

                    // If there are books in the array, send an AJAX request
                    if (booksArray.length > 0) {
                        $.ajax({
                            url: '/ReplacingBooks/CheckOrder',
                            type: 'POST',
                            contentType: 'application/json',
                            data: jsonData,
                            success: function (data, status) {
                                if (data) {
                                    complete = true;
                                    alert("You got it!!!\nTime left: " + document.getElementById("countdowntimer").innerHTML);
                                    location.reload();
                                }
                            }
                        });
                    }
                }
            });

            // Disable selection of list items
            $("#sortable-list").disableSelection();
        });
    </script>
}
